@import _config
@import 'blocks/**/*'

.no-mobile {
  display: none;
  @media screen and (min-width 600px) {
	display: inherit;
  }
}

.mobile {
  display: none;
  @media screen and (max-width 600px) {
	display: inherit;
  }
}

a {
  text-decoration none
}

