image-square-size(size)
  max-width size
  max-height size

.home
  width 100%
  min-height 100vh
  box-sizing border-box
  background-image url("../images/dist/home.png")
  background-repeat no-repeat
  background-size 100%
  display flex
  flex-direction column
  align-items center
  line-height 90px
  background-repeat no-repeat
  background-size 100%
  
.logo
  image-square-size(580px)
  margin-bottom -70px
  margin-top -60px
  
.date
  font-size 64px
  color #fff
  
.description
  font-size: 60px
  color accent-color
  text-transform uppercase
  
.date, .description
  font-family accent-font
  letter-spacing 5px
  font-weight: 600
