.bg-image {
  background-image url("../images/docs/home.webp"), url("../images/docs/jpg/home.png")
  min-height: calc(100vh + 37.5px)
  width 100%
  z-index -1
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.home
  flex-direction column
  align-items center
  justify-content center
  line-height 90px
  display flex
  min-height calc(100vh + 37.5px)
  &__description
    padding-bottom: 3rem;
    height 100%
    position relative
.logo
  margin-top -60px
  height auto
  width 100%
  max-width 500px
  @media screen and (max-width 600px)
    margin 0 auto
  @media screen and (max-height 700px)
    max-width 370px
  @media screen and (max-height 376px)
    max-width 240px
  
.date
  font-size 5rem
  color #fff
  @media screen and (max-width 700px)
    font-size 3rem
  @media screen and (max-height 700px)
    font-size 3rem
  @media screen and (max-height 376px)
    font-size 2rem


.description
  font-size: 3.5rem
  color accent-color
  text-transform uppercase
  @media screen and (max-width 700px)
    font-size 2.5rem
  @media screen and (max-height 700px)
    font-size 2rem


.date, .description
  font-family accent-font
  letter-spacing 5px
  font-weight: 600
  text-align center

