.row_top
  display flex
  background white
  flex-direction column
  align-items center

.organizers_title
  font-family userfont
  color #1e3b00
  text-align center
  margin-top 50px
  padding-bottom 10px
  width 40%

.row_bottom
  display flex
  flex-direction column
  justify-content center
  align-items center

.organizers_photo
  max-width 80%
  height auto
  box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.10)
  margin-bottom 50px

.ig_fb
  display inline-flex
  justify-content center
  align-items center
  margin-bottom 50px
  width 100%

.ig_link
  margin-right 2%

.fb_link
  margin-left 2%

.img_media
  font-size 110px
  color #1e3b00