.row
  display flex
  background white
  flex-direction column
  margin-top 50px
  align-items center

.organizers_title
  font-family userfont
  color #1e3b00
  text-align center
  margin-top 100px
  padding-bottom 10px
  width 40%