.row_top
  display flex
  background white
  flex-direction column
  align-items center

.organizers_title
  font-family userfont
  color #1e3b00
  text-align center
  margin-top 100px
  padding-bottom 10px
  width 40%

.row_bottom
  display flex
  justify-content center

.organizers_photo
  display flex
  justify-content center
  align-items center
  background #F8F8F8
  min-width 1200px
  min-height 700px
  margin-bottom 50px
  box-shadow 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.10)

.coming_soon
  font-family userfont
  font-size 40px
  text-align justify
  color #525252